<!DOCTYPE html>
<html>
<head>
  <title>SucksRocks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="msvalidate.01" content="2EE5A2AF08677290AB9830055A845208">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
